@import '../../ui/fonts';
@import '../../ui/colors';
@import '../../ui/values';

.home {
  min-height: 100vh;
  padding: calc(#{$navbarheight} + 2rem) 2rem 2rem 2rem;
  background: $lightbackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .logo {
    width: 10rem;
    height: 10rem;
    user-select: none;
  }

  .title {
    font-family: 'GmarketSansMedium', 'sans-serif';
    font-weight: 700;
    font-size: 2rem;
  }
}